{% extends "base.html" %}



{% block main %}

<section class="section section-lg bg-default text-center">
    <div class="container">
        <div class="row justify-content-center">
            {% for ressource in ressources %}
            <div class="col-sm-10 col-md-6 col-lg-6 wow fadeIn">
                <!-- Post Light-->
                {% if ressource.get_mime_type %}
                    {% if 'video' in ressource.get_mime_type %}
                        <video controls style="width: 100%;">
                            <source src="{{ ressource.ressource.url }}" type="{{ ressource.get_mime_type }}">
                            Your browser does not support the video tag.
                        </video>
                        <time class="post-light-time">{{ ressource.created|date:"D d M Y" }}</time>
                        <h4 class="post-light-title"> {{ ressource.titre }} <div class="badge">Nouveau</div></h4>
                    {% else %}
                        <a class="post-light context-dark" href="{{ressource.ressource.url}}" style="background-image: url(media/images/background.jpeg);">
                            <div class="post-light-inner">
                                <div class="badge">Nouveau</div>
                                <div class="post-light-main">
                                    <time class="post-light-time">{{ ressource.created|date:"D d M Y" }}</time>
                                    <h4 class="post-light-title"> {{ ressource.titre }} </h4>
                                </div>
                            </div>
                        </a>
                    {% endif %}
                {% endif %}
            </div>
            {% if forloop.counter|divisibleby:4 and not forloop.last %}
        </div><div class="row justify-content-center">
            {% endif %}
            {% endfor %}
        </div>
        <a class="button button-lg button-primary-gradient wow fadeIn" href="{% url 'get_all_ressource' %}" data-wow-delay=".2s"><span>Toutes les ressources</span></a>
    </div>
</section>

{% endblock main %}