{% extends "base.html" %}

{% block main %}
<div class="container">
    <h4 class="text-center mb-3">Tableau des orientations</h4>
    <table id="example" class="table table-striped">
        <thead class="table-success">
            <tr>
                <th>Type d'orientation</th>
                <th>Filières/Series</th>
                <th>Débouchées</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td rowspan="{{ item.filieres|length }}"><i class="fa fa-check text-success"></i>&nbsp; {{ item.type }}</td>
                    {% for filiere in item.filieres %}
                        {% if forloop.counter > 1 %}
                            <tr>
                        {% endif %}
                        <td>{{ filiere.filiere }}</td>
                        <td>
                            <ul>
                                {% for debouche in filiere.debouches %}
                                    <li><i class="fa fa-link text-warning"></i>&nbsp; {{ debouche }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        {% if forloop.last %}
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock main %}